body {
    color: white;
    background: black;
} 

header {

header {
    border: solid 2px white; {
    border: solid 2px rgb(42, 122, 228);
header
body {
    color: white;
    background: black;
    margin: 0px;
}